.Header {
 background-image: url(../../img/sketching.jpg);
 height: 500px;
 width: 100%;
 display: flex;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}